% setdefault('selected', {})
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Licitações</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <div class="container">
        <div id="link_envio" class="no-print">
            <a href="/enviar">Enviar arquivo de email</a>    
        </div>
        
        <fieldset class="no-print">
            <form action="/" method="POST">
        
            <div class="row">
                <div class="col-md-4">
                    <label for="cidade">Cidade</label>
                    <select id="cidade" name="cidade" class="form-control">
                        <option value="todas">Todas</option>
                        %for cidade in cidades:
                        <option value="{{cidade.nome}}" {{!'selected' if cidade.nome==selected.get('cidade') else ''}}>{{cidade.nome}}</option>
                        %end
                    </select>
                </div>
                
                <div class="col-md-4">
                    <label for="estado">Estado</label>
                    <select id="estado" name="estado" class="form-control">
                        <option value="todos">Todos</option>
                        %for estado in estados:
                        <option value="{{estado.uf}}" {{!'selected' if estado.uf==selected.get('estado') else ''}}>{{estado.uf}}</option>
                        %end
                    </select>
                </div>
                
                <div class="col-md-4">
                    <label for="modalidade">Modalidade</label>
                    <select id="modalidade" name="modalidade" class="form-control">
                        <option value="todas">Todas</option>
                        %for modalidade in modalidades:
                        <option value="{{modalidade.descricao}}" {{!'selected' if modalidade.descricao==selected.get('modalidade') else ''}}>{{modalidade.descricao}}</option>
                        %end
                    </select>
                </div>
            </div>
        
            <div class="row">
                <div class="col-md-4">
                    <label for="credenciamento_inicio">Início do credenciamento</label>
                    <input id="credenciamento_inicio" type="text" name="credenciamento_inicio" class="form-control">
                </div>
                <div class="col-md-4">
                    <label for="credenciamento_fim">Fim do credenciamento</label>
                    <input id="credenciamento_fim" type="text" name="credenciamento_fim" class="form-control">
                </div>
            </div>
        
            <div class="row">
                <div class="col-md-4">
                    <label for="cotacao_inicio">Início da cotação</label>
                    <input id="cotacao_inicio" type="text" name="cotacao_inicio" class="form-control">
                </div>
                <div class="col-md-4">
                    <label for="cotacao_fim">Fim da cotação</label>
                    <input id="cotacao_fim" type="text" name="cotacao_fim" class="form-control">
                </div>
            </div>
        
            <div class="row">
                <div class="col-md-8">
                    <label for="objeto">Objeto</label>
                    <input id="objeto" type="text" name="objeto" size="80" class="form-control">
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary form-control">Filtrar</button>
                </div>
            </div>
        
         </form>
        
        </fieldset>
        
        %for licitacao in licitacoes:
        <div class="classe1">
            <table>
                <tr>
                    <td>Tipo</td>
                    <td>{{licitacao.tipo}}</td>
                </tr>
                <tr>
                    <td>Código</td>
                    <td>{{licitacao.codigo}}</td>
                </tr>
                <tr>
                    <td>Modalidade</td>
                    <td>{{licitacao.modalidade}}</td>
                </tr>
                <tr>
                    <td>Comprador</td>
                    <td>{{licitacao.comprador}}</td>
                </tr>
                <tr>
                    <td>Endereço</td>
                    <td>{{licitacao.endereco}}</td>
                </tr>
                <tr>
                    <td>Cidade</td>
                    <td>{{licitacao.cidade}}</td>
                </tr>
                <tr>
                    <td>Estado</td>
                    <td>{{licitacao.uf}}</td>
                </tr>
                <tr>
                    <td>Objeto</td>
                    <td>{{licitacao.objeto}}</td>
                </tr>
                <tr>
                    <td>Prazo credenciamento</td>
                    <td>{{licitacao.prazo_credenciamento or ''}}</td>
                </tr>
                <tr>
                    <td>Prazo proposta</td>
                    <td>{{formata_data(licitacao.prazo_proposta)}}</td>
                </tr>
                <tr>
                    <td>Início da cotação</td>
                    <td>{{formata_data(licitacao.cotacao_inicio)}}</td>
                </tr>
                <tr>
                    <td>Fim da cotação</td>
                    <td>{{formata_data(licitacao.cotacao_fim)}}</td>
                </tr>
                <tr>
                    <td>E-mail</td>
                    <td>{{licitacao.email}}</td>
                </tr>
                <tr>
                    <td>Site</td>
                    <td><a href="{{licitacao.site}}">{{licitacao.site}}</a></td>
                </tr>
            </table>
        </div>
        %end
    </div>
</body>
</html>
