body {
    margin-top: 25px;
}

/* .classe1 {
}

fieldset {
    margin-top: 10px;
    margin-bottom: 10px;
}

fieldset div {
    margin-top: 10px;
}
*/

#link_envio {
    text-align: right;
    position: absolute;
    right: 30px;
    top: 7px;
}

label {
    font-size: small;
}

.row {
    margin-bottom: 6px;
}

.classe1 {
    border-bottom: 1px dashed gray;
    margin-bottom: 20px;
}

.classe1:hover {
    background-color: #f0f0f0;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

fieldset {
    margin-bottom: 30px;
}

table th {
    width: 200px;
    background-color: #fcfcfc;
}

td {
    padding-left: 10px;
}
